{
  "openapi": "3.0.0",
  "info": {
    "title": "Agents Public API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://agents.nineteen58.co.za",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "channel": {
            "type": "string"
          },
          "personal_context": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "relevant_information": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Prompt": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "agent_id": {
            "type": "string",
            "format": "uuid"
          },
          "is_global": {
            "type": "boolean"
          },
          "goal": {
            "type": "string"
          },
          "flow": {
            "type": "string"
          },
          "tool_use_rules": {
            "type": "string"
          },
          "background": {
            "type": "string"
          },
          "persona": {
            "type": "string"
          },
          "outcomes_json": {
            "type": "object"
          },
          "example_conversation": {
            "type": "string"
          },
          "outcomes": {
            "type": "string"
          }
        }
      },
      "Broadcast": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "agent_id": {
            "type": "string",
            "format": "uuid"
          },
          "description": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "test": {
            "type": "boolean"
          }
        }
      },
      "BroadcastMessage": {
        "type": "object",
        "properties": {
          "contact_id": {
            "type": "string",
            "format": "uuid"
          },
          "broadcast_text": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "transcript": {
            "type": "object"
          },
          "answered": {
            "type": "boolean"
          },
          "delivered": {
            "type": "boolean"
          },
          "successful": {
            "type": "boolean"
          },
          "successful_evaluation": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/public-api/agents": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "Retrieve a paginated list of agents and their channels",
        "description": "Returns a paginated list of agents with their associated channels",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "base_prompt": {
                            "type": "string"
                          },
                          "channels": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "channel": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "integer"
                    },
                    "currentPage": {
                      "type": "integer"
                    },
                    "pageSize": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/public-api/contacts/{id}/enrich": {
      "post": {
        "summary": "Enrich contact data",
        "description": "Processes various types of input data to enrich contact information",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The contact ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "text",
                      "json",
                      "pdf",
                      "image"
                    ],
                    "description": "Type of input data"
                  },
                  "data": {
                    "type": "string",
                    "description": "The input data or file content"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Enrichment prompt or instructions"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact enriched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "identifier": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string",
                      "nullable": true
                    },
                    "channel": {
                      "type": "string"
                    },
                    "personal_context": {
                      "type": "string",
                      "nullable": true
                    },
                    "notes": {
                      "type": "string",
                      "nullable": true
                    },
                    "relevant_information": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public-api/contacts/{id}": {
      "get": {
        "summary": "Get a contact by ID",
        "description": "Retrieves a single contact by its ID",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The contact ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact found successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "identifier": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string",
                      "nullable": true
                    },
                    "channel": {
                      "type": "string"
                    },
                    "personal_context": {
                      "type": "string",
                      "nullable": true
                    },
                    "notes": {
                      "type": "string",
                      "nullable": true
                    },
                    "relevant_information": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "Contact not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "put": {
        "summary": "Update a contact",
        "description": "Updates all fields of an existing contact",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The contact ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "identifier",
                  "name",
                  "channel"
                ],
                "properties": {
                  "identifier": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "channel": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "nullable": true
                  },
                  "personal_context": {
                    "type": "string",
                    "nullable": true
                  },
                  "notes": {
                    "type": "string",
                    "nullable": true
                  },
                  "relevant_information": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "Contact not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "delete": {
        "summary": "Delete a contact",
        "description": "Deletes an existing contact",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The contact ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "Contact not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "patch": {
        "summary": "Partially update a contact",
        "description": "Updates specific fields of an existing contact",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The contact ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "channel": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "nullable": true
                  },
                  "personal_context": {
                    "type": "string",
                    "nullable": true
                  },
                  "notes": {
                    "type": "string",
                    "nullable": true
                  },
                  "relevant_information": {
                    "type": "string",
                    "nullable": true
                  },
                  "currentChannel": {
                    "type": "string",
                    "description": "Current channel type (needed for WhatsApp validation)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or no fields to update"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "Contact not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/public-api/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Retrieve a paginated list of contacts",
        "description": "Returns a paginated list of contacts with optional filtering capabilities",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "description": "Number of items per page"
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "description": "Filter contacts by partial name match (case-insensitive)"
          },
          {
            "in": "query",
            "name": "email",
            "schema": {
              "type": "string"
            },
            "description": "Filter contacts by partial email match (case-insensitive)"
          },
          {
            "in": "query",
            "name": "channel",
            "schema": {
              "type": "string",
              "enum": [
                "whatsapp",
                "email"
              ]
            },
            "description": "Filter contacts by exact channel match"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "identifier": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "channel": {
                            "type": "string"
                          },
                          "personal_context": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "relevant_information": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "integer"
                    },
                    "currentPage": {
                      "type": "integer"
                    },
                    "pageSize": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create a new contact",
        "description": "Creates a new contact with the provided information. Special validation is applied for WhatsApp contacts.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "identifier",
                  "name",
                  "channel"
                ],
                "properties": {
                  "identifier": {
                    "type": "string",
                    "description": "Unique identifier for the contact (phone number for WhatsApp, email for email channel)",
                    "example": "1234567890"
                  },
                  "name": {
                    "type": "string",
                    "description": "Contact's full name",
                    "example": "John Doe"
                  },
                  "channel": {
                    "type": "string",
                    "enum": [
                      "whatsapp",
                      "email"
                    ],
                    "description": "Communication channel",
                    "example": "whatsapp"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Contact's email address",
                    "example": "john.doe@example.com"
                  },
                  "personal_context": {
                    "type": "string",
                    "description": "Personal context or background information about the contact",
                    "example": "Met at Tech Conference 2024"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Additional notes or comments about the contact",
                    "example": "Interested in AI solutions"
                  },
                  "relevant_information": {
                    "type": "string",
                    "description": "Any other relevant information about the contact",
                    "example": "Prefers communication in the morning"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Contact created successfully"
                    },
                    "contact_id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/public-api/conversations": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Retrieve a paginated list of conversations",
        "description": "Returns a paginated list of conversations with optional filtering capabilities",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "description": "Number of items per page"
          },
          {
            "in": "query",
            "name": "contactId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter conversations by contact ID"
          },
          {
            "in": "query",
            "name": "agentId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter conversations by agent ID"
          },
          {
            "in": "query",
            "name": "identifier",
            "schema": {
              "type": "string"
            },
            "description": "Filter conversations by contact identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved conversations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conversations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "contacts": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "identifier": {
                                "type": "string"
                              }
                            }
                          },
                          "agent_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "conversation": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "integer"
                    },
                    "currentPage": {
                      "type": "integer"
                    },
                    "pageSize": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/public-api/phonecalls": {
      "post": {
        "tags": [
          "Voice Calls"
        ],
        "summary": "Trigger voice calls to multiple contacts",
        "description": "Initiates voice calls to specified contacts using the provided broadcast configurations",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "broadcasts",
                  "orgId"
                ],
                "properties": {
                  "broadcasts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "contact",
                        "objective",
                        "name",
                        "agent",
                        "firstSentence",
                        "assistantId",
                        "phoneNumberId"
                      ],
                      "properties": {
                        "contact": {
                          "type": "string"
                        },
                        "objective": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "voice": {
                          "type": "string",
                          "default": "PeYv6zq1awx55FlCLn1O"
                        },
                        "language": {
                          "type": "string",
                          "default": "en"
                        },
                        "backgroundTrack": {
                          "type": "string",
                          "default": "office"
                        },
                        "startTime": {
                          "type": "string",
                          "nullable": true
                        },
                        "agent": {
                          "type": "string"
                        },
                        "firstSentence": {
                          "type": "string"
                        },
                        "firstMessageMode": {
                          "type": "string",
                          "default": "assistant-speaks-first"
                        },
                        "hipaaEnabled": {
                          "type": "boolean",
                          "default": false
                        },
                        "assistantId": {
                          "type": "string"
                        },
                        "phoneNumberId": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "orgId": {
                    "type": "string"
                  },
                  "testBroadcast": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Voice calls triggered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/public-api/prompts/{promptId}": {
      "get": {
        "tags": [
          "Prompts"
        ],
        "summary": "Get a prompt by ID",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "promptId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Prompt ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Prompt found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "prompt": {
                      "$ref": "#/components/schemas/Prompt"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Prompt not found"
          }
        }
      },
      "put": {
        "tags": [
          "Prompts"
        ],
        "summary": "Update a prompt (full update)",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "promptId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "prompt"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "agent_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "is_global": {
                    "type": "boolean"
                  },
                  "goal": {
                    "type": "string"
                  },
                  "flow": {
                    "type": "string"
                  },
                  "tool_use_rules": {
                    "type": "string"
                  },
                  "background": {
                    "type": "string"
                  },
                  "persona": {
                    "type": "string"
                  },
                  "outcomes_json": {
                    "type": "object"
                  },
                  "example_conversation": {
                    "type": "string"
                  },
                  "outcomes": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prompt updated successfully"
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Prompt not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Prompts"
        ],
        "summary": "Partially update a prompt",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "promptId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "agent_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "is_global": {
                    "type": "boolean"
                  },
                  "goal": {
                    "type": "string"
                  },
                  "flow": {
                    "type": "string"
                  },
                  "tool_use_rules": {
                    "type": "string"
                  },
                  "background": {
                    "type": "string"
                  },
                  "persona": {
                    "type": "string"
                  },
                  "outcomes_json": {
                    "type": "object"
                  },
                  "example_conversation": {
                    "type": "string"
                  },
                  "outcomes": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prompt updated successfully"
          },
          "404": {
            "description": "Prompt not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Prompts"
        ],
        "summary": "Delete a prompt",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "promptId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prompt deleted successfully"
          },
          "404": {
            "description": "Prompt not found"
          }
        }
      }
    },
    "/public-api/prompts": {
      "get": {
        "tags": [
          "Prompts"
        ],
        "summary": "Retrieve a paginated list of broadcast prompts",
        "description": "Returns a paginated list of broadcast prompts",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "agent_id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter prompts by agent ID"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved prompts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "prompts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "prompt": {
                            "type": "string"
                          },
                          "agent_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "is_global": {
                            "type": "boolean"
                          },
                          "goal": {
                            "type": "string"
                          },
                          "flow": {
                            "type": "string"
                          },
                          "tool_use_rules": {
                            "type": "string"
                          },
                          "background": {
                            "type": "string"
                          },
                          "persona": {
                            "type": "string"
                          },
                          "outcomes_json": {
                            "type": "object"
                          },
                          "example_conversation": {
                            "type": "string"
                          },
                          "outcomes": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "integer"
                    },
                    "currentPage": {
                      "type": "integer"
                    },
                    "pageSize": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "Prompts"
        ],
        "summary": "Create a new broadcast prompt",
        "description": "Creates a new broadcast prompt with the provided details",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "prompt"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the prompt"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "The prompt content"
                  },
                  "agent_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Associated agent ID"
                  },
                  "is_global": {
                    "type": "boolean",
                    "description": "Whether the prompt is global"
                  },
                  "goal": {
                    "type": "string",
                    "description": "Goal of the prompt"
                  },
                  "flow": {
                    "type": "string",
                    "description": "Flow description"
                  },
                  "tool_use_rules": {
                    "type": "string",
                    "description": "Rules for tool usage"
                  },
                  "background": {
                    "type": "string",
                    "description": "Background information"
                  },
                  "persona": {
                    "type": "string",
                    "description": "Persona description"
                  },
                  "outcomes_json": {
                    "type": "object",
                    "description": "JSON structured outcomes"
                  },
                  "example_conversation": {
                    "type": "string",
                    "description": "Example conversation"
                  },
                  "outcomes": {
                    "type": "string",
                    "description": "Expected outcomes"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Prompt created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "prompt": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "name": {
                          "type": "string"
                        },
                        "prompt": {
                          "type": "string"
                        },
                        "agent_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "is_global": {
                          "type": "boolean"
                        },
                        "goal": {
                          "type": "string"
                        },
                        "flow": {
                          "type": "string"
                        },
                        "tool_use_rules": {
                          "type": "string"
                        },
                        "background": {
                          "type": "string"
                        },
                        "persona": {
                          "type": "string"
                        },
                        "outcomes_json": {
                          "type": "object"
                        },
                        "example_conversation": {
                          "type": "string"
                        },
                        "outcomes": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/public-api/broadcasts": {
      "get": {
        "tags": [
          "Broadcasts"
        ],
        "summary": "Retrieve a paginated list of broadcasts",
        "description": "Returns a paginated list of broadcasts",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "agent_id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter broadcasts by agent ID"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved broadcasts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "broadcasts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Broadcast"
                      }
                    },
                    "totalCount": {
                      "type": "integer"
                    },
                    "currentPage": {
                      "type": "integer"
                    },
                    "pageSize": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "Broadcasts"
        ],
        "summary": "Create a new broadcast",
        "description": "Creates a new broadcast campaign",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "agent_id",
                  "channel",
                  "prompt_id",
                  "contact_ids"
                ],
                "properties": {
                  "agent_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "channel": {
                    "type": "string",
                    "enum": ["phone", "advanced-voice"]
                  },
                  "prompt_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "first_sentence": {
                    "type": "string"
                  },
                  "contact_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "test": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Broadcast created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "broadcast": {
                      "$ref": "#/components/schemas/Broadcast"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/public-api/broadcasts/{id}": {
      "get": {
        "tags": [
          "Broadcasts"
        ],
        "summary": "Retrieve a single broadcast and its messages",
        "description": "Returns details of a specific broadcast and its associated messages",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Broadcast ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved broadcast details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "broadcast": {
                      "$ref": "#/components/schemas/Broadcast"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BroadcastMessage"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "Broadcast not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "tags": []
}